.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align:middle}

#activity{min-height:300px;}
.pagination{margin:0}
.overlay{padding-top:80px}
.hot-country a,.operation a,.sort a{margin-right: 5px;}

.permission-group .form-group{margin-bottom:5px;}
.permission-group label{font-weight:normal}
.content .icheckbox_minimal-blue,.content .iradio_square-blue,.content .icheckbox_square-blue{top:-1px;margin-right:5px;!important;}
#modal-assignment-role label{font-weight:normal;margin-top:10px;}

.popover{width:350px;max-width:350px;}
.popover-title{padding:14px;front-size:16px;font-weight:bold;}
.popover-footer{padding:8px 14px; background:#f7f7f7;border-top:1px solid #ebebeb}

.content .krajee-default.file-preview-frame{box-shadow:none}
.content .krajee-default.file-preview-frame:not(.file-preview-error):hover{box-shadow: 1px 1px 2px 0 #a2958a;}